<h1>Update Your Account</h1>

<form action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= @user.username %>"><br><br>

    <label for="location">Location:</label>
    <input type="text" name="location" value="<%= @user.location %>"><br><br>

    <input class="button" type="submit" value="Update">

</form>

