<h2>Logged in as: <%= @user.username.upcase %></h2>

<h3>Renovator Users:</h3>

<% User.all.each do |user| %>
<ul>
    <li><strong><%= user.id %>. <%= user.username %></strong> | <%= user.location %></li>
</ul>
<% end %>