<h1>Create a New Project</h1>
  <form action='/projects' method="post">
    <label for="title">Project Title:</label>
    <input type="text" name="title" required><br><br>

    <label for="description">Description:</label>
    <input type="text" name="description" required><br><br>

    <label for="cost">Estimated Cost:</label>
    <input type="text" name="cost" required><br><br>

    <input type="submit" name="submit" id="submit" value="Submit">

  </form>