<div class="intro">
  <p>Welcome to the Renovator, a place for you to plan how to turn that fixer-upper into the hottest house on the block.</p>
  <p>Log in or sign up to get renovating.</p>
</div>
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
