<div class="container">
  <header><img src="images/wrench_hammer.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>The Renovator</h2>

    <div class="content">
      <p>Welcome to the Renovator, a place for you to plan how to turn that fixer-upper into the hottest house on the block. Log in or sign up to get renovating.</p>
      <h3><a href="/login">Log In</a></h3>
      
      <h3><a href="/signup">Sign Up</a></h3>

      <h3><a href="/logout">Log Out</a></h3>
    </div>

  </div>
</div>
