<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <input class="username" type="text" name="username" id="username" placeholder="Username:" required>

    <input class="password" type="text" name="password" id="password" placeholder="Password:" required><br><br>

    <input class="submit" type="submit" value="Submit">
</form>